/* General setup */

/* san serif font */
@font-face {
    font-family: 'acmeregular';
    src: url('fonts/acme-regular-webfont.woff2') format('woff2'),
         url('fonts/acme-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/*serif font */

@font-face {
    font-family: 'abril_fatfaceregular';
    src: url('fonts/abrilfatface-regular-webfont.woff2') format('woff2'),
         url('fonts/abrilfatface-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'abril_fatfaceregular';
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
  font-family: 'acmeregular';
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
  font-family: 'acmeregular';
  font-size: 2em;
}

/* WRITE YOUR CODE BELOW HERE */