html {
  font-family: sans-serif;
}

/* Your CSS below here */
p {
	border: solid;
	
	text-align: center;
	width: 100%;
	line-height: 3;
	background-color: yellow;
	border-radius: 10px;
	font-size: 1.1rem;
	background-image: linear-gradient();
	border: 1px solid #990000;
	background-image: linear-gradient(to top left, rgba(0,0,0,0.2), rgba(0,0,0,0.2) 30%, rgba(0,0,0,0));
	color: rgb(100,0,0);
	text-shadow: black 1px 1px;
}